  <footer id="footer" class="py-2 bg-dark text-white-50" style="position: fixed; bottom: 0px; width: 100%">
    <div class="container text-center">
      <small>Copyright &copy; Matt Bowles, 2020</small>
        <br>
      <small>Content is taken from <a href="https://map.snapchat.com/">Snapchat's Snapmaps</a></small>
    </div>
  </footer>
</body>