<table id="scoreCard" class="table-bordered border table-striped table-sm">
  <thead>
    <th colspan="100%">Score</th>
  </thead>
  <tr>
    <td>
      <i>Round 1</i>
    </td>
    <td>
      <i>Round 2</i>
    </td>
    <td>
      <i>Round 3</i>
    </td>
    <td>
      <i>Round 4</i>
    </td>
    <td>
      <i>Round 5</i>
    </td>
    <td>
      <b><i>Total</i></b>
    </td>
  </tr>
  <tr>
    {{!-- These empty td elements are to be filled with scores as the game progresses --}}
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><span id="score">0</span></td>
  </tr>
</table>