<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StorySleuth</title>

    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">

    {{!-- Jquery --}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        
    {{!-- Bootstrap + everything it requires --}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    {{!-- Leaflet --}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

    {{!-- Leaflet fullscreen --}}
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

    {{!-- Leaflet motion --}}
    <script src="https://unpkg.com/leaflet.motion@0.1.5/dist/leaflet.motion.min.js"></script>

    {{!-- Axios for Ajax --}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    {{!-- HammerJS for mobile gestures --}}
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>

    {{!-- Bootbox --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>

    {{!-- Custom CSS/functionality --}}
    <link rel="stylesheet" href="/css/game.css">
    <script type="text/javascript" src="/js/gameFunctions.js"></script>
    <script type="text/javascript" src="/js/game.js"></script>
</head>
<body>
    {{>navbar}}
    <div class="container mt-5 w-100 p-5 rounded" id="mainContainer">
        {{{body}}}
    </div>
    {{!-- {{>footer}} --}}
</body>
</html>