{{!-- Guess result goes here --}}
<div class="row text-center" id="guessResult" style="display: none"></div>

  {{!-- Main container --}}
  <div>


    {{!-- Scorecard --}}
    <div class="p-2 border border-dark">
      {{>scorecard}}
    </div>
 
    {{!-- Media player and map --}}
    <div class="d-flex flex-wrap">

      {{!-- Media player --}}
      <div class="p-2 border border-dark">

        <div id="media_content">
          <img id="image_display" src="/img/loading.png">
          <video controls id="video_player" style="display: none">
            <source src="" type="video/mp4">
          </video>
        </div>
        <!-- Start with default story - no. 0 in json array -->
      
        <div class="mt-3" >
          <div id="buttons-timestamp-container">
            <!-- Story nav buttons -->
            <div id="story-buttons">
              <button id="prevBtn" class="btn btn-outline-dark" onclick="prevStory()">◄ Prev</button>
              <button id="nextBtn" class="btn btn-outline-dark" onclick="nextStory()">Next ►</button>
            </div>
            <h5 id="timestamp">Loading...</h5> 
          </div>
        </div>
        
      </div>

      {{!-- Map --}}
      <div class="p-2 border border-dark flex-grow-1">
        
      <div id="map"></div>

      <div class="mt-3">
        <button type="button" class="btn btn-danger" id="guessButton" onclick="makeGuess()" disabled>Make guess</button>
        <button type="button" class="btn btn-primary" id="nextRoundBtn" onclick="initaliseNewRound()">Next round</button>   
      </div>
        
      </div>
    </div>

  </div>






{{!-- Holds data for a previous game (that is being viewed)
Can obviously be empty --}}
<form>
  <input type="hidden" name="gameData" id="gameData" value="{{ gameData }}">
</form>