{{!-- Guess result goes here (hidden by default) --}}
{{!-- <div class="row text-center" id="guessResult" style="display: none"></div> --}}

  {{!-- Main container--}}
  <div class="parent">

    {{!-- Media player --}}
    <div class="p-2 border border-dark flex-fill" style="width: 25%">
      <div id="media_content" class="embed-responsive">
        <img id="image_display" src="/img/loading.png" class="embed-responsive-item">
        <video controls id="video_player" style="display: none" class="embed-responsive-item">
        </video>
      </div>
      <!-- Start with default story - no. 0 in json array -->
    
      <div class="mt-3" >
        <div id="buttons-timestamp-container">
          <!-- Story nav buttons -->
          <div id="story-buttons">
            <button id="prevBtn" class="btn btn-outline-dark" onclick="prevStory()" disabled="disabled">◄ Prev</button>
            <button id="nextBtn" class="btn btn-outline-dark" onclick="nextStory()">Next ►</button>
          </div>
          <h5 id="timestamp">Loading...</h5> 
        </div>
      </div>
      
      </div>

      {{!-- Map --}}
      <div class="p-2 border border-dark flex-fill">
        {{>scorecard}}
      <div id="map"></div>

      <div class="mt-3">
        <button type="button" class="btn btn-success" id="guessButton" onclick="makeGuess()" disabled="disabled">Make guess</button>
        <button type="button" class="btn btn-primary" id="nextRoundBtn" onclick="initaliseNewRound()">Next round</button>   
        <button type="button" class="btn btn-primary" id="btnPlayAgain" onclick="resetGame()" hidden>Play again?</button>   
      </div>
      
    </div>
  </div>






{{!-- Holds data for a previous game (that is being viewed)
Can obviously be empty --}}
<form>
  <input type="hidden" name="gameData" id="gameData" value="{{ gameData }}">
</form>