<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <script type="text/javascript" src="/js/gameFunctions.js"></script>

  <title>Where Am I?</title>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Where Am I?</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Play
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    


    <div class="container">
        <div class="row">

        </div>
        <div class="row" id="guessResult">
        </div>
        <div class="row">
          <div class="col-sm-2">
              <table id="scoreCard" class="table-bordered table-striped table-sm">
                  <thead class="thead-dark">
                    <th colspan="2">Score</th>
                  </thead>
                  <tr>
                    <td>R1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>R2</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>R3</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>R4</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>R5</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>C.S.</td>
                    <td><span id="score">0</td>
                  </tr>
                </table>
          </div>
          <div class="col-sm">
            <div id="media_content">
              <img id="image_display" src="" alt="This is an image. Good luck">
              <video controls id="video_player">
                <source src="" type="video/mp4">
              </video>
            </div>
            <!-- Start with default story - no. 0 in json array -->
            <h3 id="timestamp"></h3> 

            <!-- Story nav buttons -->
            <button id="prevBtn" class="btn btn-outline-dark" onclick="prevStory()"><-- Prev</button>
            <button id="nextBtn" class="btn btn-outline-dark" onclick="nextStory()">Next --></button>

          </div>
          <div class="col-lg">
            <div id="mapid"></div>
            <button type="button" class="btn btn-danger" id="guessButton" disabled>Make guess</button>
            <button type="button" class="btn btn-primary" id="nextRoundBtn">Next round</button>
          </div>
        </div>
      </div>

    
</body>

  <script>
    
    let round = 0;
    let score = 0;
    let storyCounter = 0;
    let playlist = {};

    let tempPlaylist = null;  // Temporarily stores a playlist, without overwriting the current one.

    /**************************/
    /* MAP SETUP (Leaflet.js) */
    /**************************/ 

    // Initalise map
    var map = L.map('mapid', 
    {
      worldCopyJump: true,
      minZoom: 1.5
    }
    ).setView([0, 0], 0);
    var markers = [];

    // Add a tileset to the map - very pretty.
    L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
	    attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012',
    }).addTo(map);

    // Define custom icon for actual location.
    var locIcon = L.icon({
      iconUrl: '/img/location-icon.png',
      iconAnchor:   [10, 15], // point of the icon which will correspond to marker's location,
      iconSize: [30, 30]
    });


    /**
     * Initialise the game.
     *    - Show first story in playlist.
     *    - Disable previous button (the player can't play the previous video...).
     *    - Hide the next round button (made visible when player guesses). 
     */
    $(document).ready(function () {
      initaliseNewRound();
    });

    /**
     * Shows the next story in the current playlist, if it exists.
     */ 
    function nextStory() {
      if (playlist.stories[storyCounter+1]) {
        storyCounter++;
        showStory();

        $('#prevBtn').removeAttr("disabled");
        if (storyCounter+1 == playlist.stories.length) {
          $('#nextBtn').attr("disabled", "true");
        }
      }
    }

    /**
     * Shows the previous story in the current playlist, if it exists. 
     */
    function prevStory() {
      if (playlist.stories[storyCounter-1]) {
        storyCounter--;
        showStory();

        $('#nextBtn').removeAttr("disabled");
        if (storyCounter == 0) {
          $('#prevBtn').attr("disabled", "true");
        }
      }
    }

    /**
     * Displays a "video" in the video player, or an image in the image displayer.
     * Also updates the timestamp value.
     */
    function showStory() {
      // Display video.
      var story = playlist.stories[storyCounter];
      var storyURL = story.storyURL;

      if (story.isImage) {
        // Hide video player
        $('#video_player').hide();

        // Show image
        $('#image_display').attr("src", storyURL);
        $('#image_display').show();

      } else {
        // Hide image
        $('#image_display').hide();

        $('#video_player').attr("src", storyURL);
        $('#video_player').show();
      }

      // Show timestamp.
      $('#timestamp').text(playlist.stories[storyCounter].timestamp);
    }

    /**
     * Updates the game's current score, and updates the text which displays it.
     */ 
     function updateScore(dist) {
      $(`#scoreCard tr:nth-child(${round}) td:nth-child(2)`).text(dist);
      score += dist;
      $('#score').text(score);
    }

    /**
     * Handles what happens when the user clicks on the map.
     *    - Remove current guess marker (if it exists).
     *    - Add guess marker to where the player clicked.
     *    - Allow the guess to be made (enable guess button).
     */ 
    map.on('click', function(e) {
      if (!markers['locMarker']) {
      // Get coords of where the user clicked
      lat = e.latlng.lat;
      lon = e.latlng.lng;
      
      // Remove guess marker if it has already been placed
      if (markers['guessMarker'] != undefined) {
        map.removeLayer(markers['guessMarker']);
      };

      // Add marker
      markers['guessMarker'] = L.marker([lat, lon]).addTo(map);

      // Allow user to make guess
      $('#guessButton').attr("disabled", false);
      $('#guessButton').removeClass("btn-danger");
      $('#guessButton').addClass("btn-success");
    }
    });

    /**
     * Clicking the guess button will do the following things:
     *    - Add map marker to actual location.
     *    - Draw a line on the map between guess and actual location.
     *    - Update the player's score.
     *    - Reposition map to focus on the actual location.
     *    - Display button to load next round _OR_ present the final score.
     */
    $('#guessButton').click(function(e) {
      e.preventDefault();

      if (!markers['locMarker']) {

        // Add location marker to map
        markers['locMarker'] = L.marker([playlist.coords.lat, playlist.coords.lng], {icon: locIcon}).addTo(map);

        var latlngs = Array();  // Contains both the lat/lng positions of the guess and actual location.

        latlngs.push(markers['guessMarker'].getLatLng());
        latlngs.push(markers['locMarker'].getLatLng());

        // Draw line between guess and actual location.
        var polyline = L.polyline(latlngs, {color: 'black', dashArray: "1 5"}).addTo(map);

        // Display guess info - how far off was the player?
        var dist = getDistanceFromLatLonInKm(playlist.coords.lat, playlist.coords.lng, lat, lon);
        $('#guessResult').html(`Your guess was <b> ${dist} km</b> away from the correct location.`);

        // Fly to actual location
        map.flyTo(markers['locMarker'].getLatLng());

        // Update (append) score using the distance between guess and the actual location.
        updateScore(Math.floor(dist));

        // If the player still has more rounds left, show the next round button.
        if (round < playlist.stories.length) {
          $('#nextRoundBtn').show();

          // Load the playlist to be used for the next round, and store it in temp.
          loadNewPlaylist((pl) => {
            tempPlaylist = pl;
          })

        } else {
          // Game is finished, present final score.
          
          // Send score to API
          fetch('/api/score', {
            method: 'post',
            headers: {
              'Accept': 'application/json, text/plain, */*',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({score: score})
          });
        }
      }
    });

    /**
     * Loads the next round of the current game.
     */ 
    $('#nextRoundBtn').click(function (e) { 
      e.preventDefault();
      initaliseNewRound();
    });

    function initaliseNewRound() {
      $('#nextRoundBtn').hide();
      round++;

      // Only fix up the map if it has been tampered with (i.e. if it's not the first round).
      if (round !== 1) {
        map.removeLayer(markers['guessMarker']);
        map.removeLayer(markers['locMarker']);
        clearMap(map);
        markers = [];
        $("#guessButton").attr("disabled", true);
        $('#guessResult').text(" ");
        
        map.setView([0, 0], 0);
        
        // User can initially view the next story, but not the previous.
        $('#nextBtn').removeAttr("disabled");
        $('#prevBtn').attr("disabled", "true");

        // Ensures that the first story will be loaded in the round.
        storyCounter = 0;
      }

      // If a playlist has already been temporarily loaded, then use it as the primary playlist.
      // ... and clear temp.
      if (tempPlaylist !== null) {
        playlist = tempPlaylist;
        tempPlaylist = null;
        showStory();
      } 
      else {
        loadNewPlaylist((pl) => {
          playlist = pl;
          showStory();
        });
      }
    }

    /**
     * Calls the API to receieve a new playlist. 
     * The user decides what to do with this playlist using a callback parameter when calling the function.
     */ 
    function loadNewPlaylist(_callback) {
      // Call API to get next round
      const fetchPromise = fetch('/api/playlist');
      fetchPromise.then(response => {
        return response.json();
      }).then(pl => {
        _callback(pl);
      });
    }

  </script>

</html>