<h1 class="mb-3">Welcome to StorySleuth</h1>

<h6>This free web-game was developed by <b>Matt B.</b> and has taken considerable inspiration from the brilliant <b><a href="https://www.geoguessr.com" target="_blank">GeoGuessr.</a></b></h6>

<h6>The concept is simple - you are shown a collection of five public <b>SnapChat stories</b> originating from the same location. Your goal is to pinpoint the <i>general</i> location on a map. Each game will consist of five rounds (i.e. locations). The closer you are to the general location of the stories, the more points you are rewarded. Can you attain the fabled perfect score of <b><i>TWENTY-FIVE THOUSAND?</i></b></h6>

<h4 class="m-4"><b><a href="/play">PLAY NOW!</a></b></h4>

<h6><i>Are you associated with Snap Inc.? Please do not sue me, we can work this out together. I will cease development immediately  upon request. Please see the <a href="/contact">contact page</a></i></h6> 