<h1 class="mb-3">Welcome to StorySleuth</h1>

<h6>This free web-game was developed by <b><a href="https://github.com/matt-bowles">Matt Bowles</a></b> and has taken considerable inspiration from the brilliant <b><a href="https://www.geoguessr.com">GeoGuessr.</a></b></h6>

<h6>The concept is simple - you are shown a collection of five public <b>SnapChat stories</b> originating from the same location. Your aim is to pinpoint the general location. Each game will consist of five rounds. The lower the score, the better (think: golf). Can you attain the fabled <b><i>ZERO-SCORE?</i></b></h6>

<h4 class="m-4"><b><a href="/play">PLAY NOW!</a></b></h4>

<h6><i>Are you associated with SnapChat? Please do not sue me, we can work this out together. You can reach me at: <a href="mailto:mattbowles1337@gmail.com.">mattbowles1337@gmail.com.</a></i></h6> 