<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <link href="../stylesheet.css">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <title>Where Am I?</title>
</head>

<style>
  #mapid {
    width: 150%;
    height: 650px;
  }
  
  #guessResult {
    margin: auto;
    width: 50%;
    margin-bottom: 50px;
  }
</style>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Where Am I?</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Play
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="row">Your score is: <span id="score"></span></div>
        <div class="row" id="guessResult">
        </div>
        <div class="row">
          <div class="col-sm">
            <video controls id="video_player">
              <source src="" type="video/mp4">
            </video>
            <!-- Start with default story - no. 0 in json array -->
            <h3 id="timestamp"><%=stories[0].timestamp%></h3> 

            <!-- Story nav buttons -->
            <button id="prevBtn" onclick="prevStory()" disabled><-- Prev</button>
            <button id="nextBtn" onclick="nextStory()">Next --></button>

          </div>
          <div class="col-lg">
            <div id="mapid"></div>
            <button type="button" class="btn btn-danger" id="guessButton">Make guess</button>
          </div>
        </div>
      </div>

    
      <!-- Sneakret game info -->
      <p style="visibility: hidden" id="loclat"><%=lat%></p>
      <p style="visibility: hidden" id="loclong"><%=long%></p>

      <p style="visibility: hidden" id="stories"><%=stories%></p>

    
</body>

  <script>
    let score = 100;
    let storyCounter = 0;
    let stories = JSON.parse($('#stories').text());

    $(document).ready(function () {
      showStory();
      updateScore(score);

      $('#prevBtn').attr("disabled", "true");
    });

    function nextStory() {
      if (stories[storyCounter+1]) {
        storyCounter++;
        showStory();

        $('#prevBtn').removeAttr("disabled");
        if (storyCounter+1 == stories.length) {
          $('#nextBtn').attr("disabled", "true");
        }
      }
    }

    function prevStory() {
      if (stories[storyCounter-1]) {
        storyCounter--;
        showStory();

        $('#nextBtn').removeAttr("disabled");
        if (storyCounter == 0) {
          $('#prevBtn').attr("disabled", "true");
        }
      }
    }

    function showStory() {
      $('#video_player').attr("src", stories[storyCounter].storyURL);
      $('#timestamp').text(stories[storyCounter].timestamp);
    }



    // Define the custom 'real-location' icon
    var locIcon = L.icon({
      iconUrl: 'C:/xampp_install/htdocs/whereami/location-icon.png',
      iconAnchor:   [0, 0], // point of the icon which will correspond to marker's location
    });

    var map = L.map('mapid', {
      worldCopyJump: true,
    }).setView([0, 0], 0);
    var markers = [];
    $("#guessButton").attr("disabled", true);


    L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
	    attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012',
    }).addTo(map);

    map.on('click', function(e) {
      if (!markers['locMarker']) {
      // Get coords of where the user clicked
      lat = e.latlng.lat;
      lon = e.latlng.lng;
      
      // Remove guess marker if it has already been placed
      if (markers['guessMarker'] != undefined) {
        map.removeLayer(markers['guessMarker']);
      };

      // Add marker
      markers['guessMarker'] = L.marker([lat, lon]).addTo(map);

      // Allow user to make guess
      $('#guessButton').attr("disabled", false);
      $('#guessButton').removeClass("btn-danger");
      $('#guessButton').addClass("btn-success");
    }
    });

    $('#guessButton').click(function(e) {
      e.preventDefault();

      if (!markers['locMarker']) {
        var locLat = $('#loclat').text();
        var locLong = $('#loclong').text();

        // add location marker

        markers['locMarker'] = L.marker([locLat, locLong], {icon: locIcon}).addTo(map);

        // calculate distance between guess and location

        var latlngs = Array();

        latlngs.push(markers['guessMarker'].getLatLng());
        latlngs.push(markers['locMarker'].getLatLng());
        var polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);

        // display info
        var dist = getDistanceFromLatLonInKm(locLat, locLong, lat, lon);
        $('#guessResult').html(`Your guess was <b> ${dist} km</b> away from the correct location.`);

        // fly to actual location
        map.flyTo(markers['locMarker'].getLatLng());

        // update score
        updateScore(dist);

      }

    });

    function updateScore(dist) {
      score += dist;
      $('#score').text(score);
    }

    function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
    var R = 6371; // Radius of the earth in km
    var dLat = deg2rad(lat2-lat1);  // deg2rad below
    var dLon = deg2rad(lon2-lon1); 
    var a = 
      Math.sin(dLat/2) * Math.sin(dLat/2) +
      Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * 
      Math.sin(dLon/2) * Math.sin(dLon/2); 
    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
    var d = R * c; // Distance in km

    // Round it up and return
    return " " + (Math.round(d * 100) / 100) + " ";
    }

  function deg2rad(deg) {
    return deg * (Math.PI/180)
  }
  </script>

</html>