<h1>Welcome to [TITLE PENDING]</h1>

<h6>This free web-game was a dumb idea that <b><a href="http://github.com/matt-bowles">Matt Bowles</a></b> had in his head one night and set out to bring to fruition. During the early stages of development, Matt realised that the game itself was not as feasible as he had once thought, but still offered a fun way of seeing what the world was up to. It turns out <b>SnapChat</b> users tend to post pictures of their bored selves and what they are eating more than useful clues. </h6>

<h6>The concept is simple - you are shown a collection of five public <b>SnapChat stories</b> belonging to the same general area. Your aim is to pinpoint the general location of the stories' origin. Each game will consist of five rounds. Can you get the fabled <b><i>ZERO-SCORE?</i></b> Probably not, but perhaps you may have a laugh or two along the way.</h6>

<h4><a href="/play">PLAY NOW!</a></h4>

<hr>

<h6><i>Are you associated with SnapChat? Please do not sue me, we can work this out together. You can reach me at the email address of: [EMAIL].</i></h6>