<h1 class="mb-3">Rules</h1>

<p>It has recently come to this developer's attention that there has been some confusion surrounding how the game is intended to be played. Hopefully this will clear things up for you plonkers:</p>

<ul>
    <li>Any external assistance (e.g. using Google) is <b>strictly prohibited</b>.</li>
    <li>Using the web browser's console to reveal the location is <b>strictly prohibited</b>.</li>
    <li>There is no time limit (yet), take as long as you require.</li>
    <li>Repeated clues <i>do</i> count towards perfect scores, but are frowned upon.</li>
</ul>