.container {
  min-width: auto !important;
}

#map, #media_content:nth-child(1) {
  min-height: 500px;
}

#guessResult {
  margin: auto;
  width: 75%;
  margin-bottom: 25px;
}

#scoreCard {
  margin-left: 3.5%;
}

th {
  text-align: center;
}
  
#media_content img, video {
  width: 100% 100%;
}

/* TODO: this is manually being sized and centred - not very dynamic! */
#image_display {
  width: 100% !important;
  object-fit: scale-down;
  /* margin-left: 17%; */
}

#timestamp {
  width: 50%;
  padding-top: 8px;
}
  
#btnPlayAgain {
  text-align: center;
  cursor: pointer;
}

#scoreCard {
  width: 100%;
}

.scorecardHover {
  background-color: lightblue !important;
  cursor: pointer;
}

/* Flex stuff */
#mainContainer {
  height: 100%;
  background-color: lightblue;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-evenly;
}

/* Overwriting Boostrap CSS rules */

.column {
  display: flex;
}

.roundText {
  content: "R";
}

#idklmao {
  width: 30%;
}

@media only screen and (max-width: 600px) {
  #idklmao {
    min-width: 100% !important;
  }
}

/* Mobile-ish media queries */
@media only screen and (max-width: 1028px) {

  #mainContainer {
    padding: 0 !important;
  }

  #scoreCard {
    font-size: 12px;
  }

  /* Temporary fix so that round buttons can be pressed */
  .parent {
    margin-bottom: 20%;
  }

}

#scoreCard, #buttons-timestamp-container {
  margin: 0 auto;
}

#story-buttons {
  margin: 0, auto;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}