/* @import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap'); */

* {
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

#mainContainer {
  -webkit-box-shadow: 9px 10px 30px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 10px 30px 1px rgba(0,0,0,0.75);
  box-shadow: 9px 10px 30px 1px rgba(0,0,0,0.75);
  border-radius: 10px;

  background-color: #bcf4fa;
}

body {
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  height: 100%;
}


/* About page */
h1, h4 {
  text-align: center;
}

h6 {
  margin: 10em;
}

/* Account page */
.statbox {
  width: 30%;
  background-color: lightblue;
  margin: 1%;
  padding: 0.5%;

  border-radius: 10px;
  border: 3px black solid;

  margin-left: auto;
  margin-right: auto;
}

.statbox .row {
  margin-left: auto;
  margin-right: auto;
}

/* The "value" for each statbox (i.e. 17,329 points) */
div.statbox > div:nth-child(1) {
  color: rgb(65, 65, 65);
  text-align: center;
  border-bottom: 2px black solid;
  padding-bottom: 0.2em;
  font-weight: bold;

  
  align-items: center;
}

/* The "topic" for each statbox (i.e. Average score) */
div.statbox > div:nth-child(2) {
  font-style: italic;
  padding-top: 0.2em;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

/* button {
  -webkit-box-shadow: 28px 24px 43px -17px rgba(0,0,0,0.52);
  -moz-box-shadow: 28px 24px 43px -17px rgba(0,0,0,0.52);
  box-shadow: 28px 24px 43px -17px rgba(0,0,0,0.52);
} */

@media only screen and (max-width: 1028px) {
  #mainContainer {
    width: 95% !important;
    margin-top: 12px !important;
  }
}
