/* @import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap'); */

* {
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

body {
  background-color: lightskyblue !important;
}


/* About page */
h1, h4 {
  text-align: center;
}

h6 {
  margin: 10em;
}
