#mapid {
  width: 150%;
  height: 650px;
}

#guessResult {
  margin: auto;
  width: 50%;
  margin-bottom: 50px;
}

#scoreCard {
  margin-left: 3.5%;
}

th {
  text-align: center;
}

#scoreCard td {
  width: 50px;
}

#media_content img, video {
  width: 365px;
  height: 653px;
}